.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1.1em;
    background: blue;
    color: white;
    text-align: center;
    margin-left: 25px;
    margin-top: -10px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange;
    }
}

.logo {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}